@font-face {
    font-family: "Alef";
    src: url("font/Alef-regular.woff2");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "trashimclm";
    src: url("font/trashimclm-bold-webfont.woff2");
    font-weight: normal;
    font-style: normal;
  }

html {
    font-family: "Alef";
    text-align: right;
    direction: rtl;
    background-color: aliceblue;
}

h1 {
    margin: auto;
    font-family: "trashimclm";
    font-size: 3rem;
}

.header {
    position: sticky;
    top: 0px;
    background-color: #07475c;
}

.head_items {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
}

ul {
    list-style: none;
}

li {
    place-self: center;
    color: #fff;
    padding: 0.2em 0.8em;
    border-radius: 0.2em;
    margin: 0.15rem;
    font-size: 1.25rem
}
    
li a {
    font-size: 1.25rem;
}

.h1_head {
    background-color: transparent;
    color: white;
    font-size: 1rem;
}

.finding-recommendation{
    background-image: url("site_background.jpg");
    background-size: cover;
    display: flex;
    flex: 1 1;
    justify-content: space-evenly;
}

.finding-recommendation div{
    background-color: lightblue;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin: 1rem;
    min-width: 15rem;
}

textarea:focus {
    background-color: AliceBlue;
    border: 5px solid royalblue;
}

#submit{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    padding: 15px 30px;
    text-align: center;
    color:#000000;
    background-color: #94d6f1;
    border-color: #315868;

}

#submit:hover {
    color: white;
    background-color: royalblue;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar main"
}

.main {
    grid-area: main;
    background-color: lightblue;
    text-align: center
}

.sidebar {
    grid-area: sidebar;
    background-color: #07475c;
    color: white;
    text-align: center
}

a {
    border-radius: 0.75rem
}
    
a:link, a:visited {
    background-color: #6db2c8;
    color: white;
    padding: 0.8rem 0.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
    
a:hover, a:active {
    background-color: #446f7d;
}

footer {
    margin-top: 2rem;
}