<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>2כותרת</title>
    <link rel="stylesheet" href="static/style2.css"/>
    <link rel="icon" href="static/NP.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="header">
      <ul class="head_items">
        <li><img src="static/Nirp.png" alt="nir logo" id="nir_logo" height="30px" width="30px"></li>
        <li><h1>כותרת H1</h1></li>
        <li><a href="index3.html"></a></li>
        <li>aaaaaaaaaaaaaaaaa</li>
      </ul>
    </div>
    <div>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
    </div>
    <footer class="site_border">
        <p class="center_text">כל הזכויות שמורות © ניר פרלשטיין 2020.</p>
    </footer>
  </body>

</html>