<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>כותרת</title>
    <link rel="stylesheet" href="static/style2.css"/>
    <link rel="icon" href="static/NP.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="header">
      <img src="static/Nirp.png" alt="nir logo" id="nir_logo" height="30px" width="30px">
      <h1>כותרת H1</h1>
    </div>
    <div>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
      <p>Hello</p>
    </div>
    <footer class="site_border">
        <p class="center_text">כל הזכויות שמורות © ניר פרלשטיין 2020.</p>
    </footer>
  </body>

</html>